.rules {
  padding: 0 0.75rem 1.25rem 0.75rem;
  margin-top: 1rem;

  @media (min-width: 768px) {
    margin-top: 1.5rem;
    padding: 0 1.25rem 2rem 1.25rem;
  }

  @media (min-width: 640px) {
    margin-top: 0;
    padding: 0 1.25rem 0.75rem 1.25rem;
  }

  .rules-list {
    list-style-type: decimal;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(0, 0, 0, 0.75);
    height: 16.25rem;

    @media (min-width: 768px) {
      font-size: 1.125rem;
      line-height: 2rem;
    }

    .rules-title {
      font-size: 1.25rem;
      line-height: 1.75rem;
      text-align: center;
      margin: 0 2.5rem 0.6rem 0;
      text-decoration: underline;

      @media (min-width: 768px) {
        font-size: 1.875rem;
        line-height: 2.25rem;
      }
    }
  }
}
